<!DOCTYPE html>
<html>
<head>
	<title>EXPIRE</title>
	<h1 align="center">RENDRE LE QUIZZ EXPIRE</h1>
</head>
<body>
<p align="center">Vous avez le choix d'expiré ou non votre quizz.<br>Pour cela coché ce que vous souhaitez faire.<br>Une fois le quizz expiré, il vous sera toujours possible de revenir ici pour le ré-activer !</p>


<div align="center">
	<form action="" method="post">
		<h1>Rendre le quizz expiré ! </h1>
			<div>
  				<input type="radio" id="oui" name="expire" value="oui"
         			checked>
  				<label for="oui">OUI</label>
			</div>

			<div>
  				<input type="radio" id="non" name="expire" value="non">
  				<label for="non">NON</label>
			</div>


				<input type="submit" name="estExpire" value="VALIDER CHOIX !">

	</form>
</div>


</body>
</html>