<!DOCTYPE html>
<html>
<head>
	<title>Est Valide</title>
</head>
<body>
<p align="center">Vous avez le choix de validé ou non votre quizz.<br>Pour cela coché ce que vous souhaitez faire.<br>Une fois le quizz validé ou non, il vous sera toujours possible de revenir ici pour le ré-activer via le menu du prof -> modifier quizz !</p>


<div align="center">
	<form action="" method="post">
		<h1>Rendre le quizz valide ! </h1>
			<div>
  				<input type="radio" id="oui" name="expire" value="oui"
         			checked>
  				<label for="oui">OUI</label>
			</div>

			<div>
  				<input type="radio" id="non" name="expire" value="non">
  				<label for="non">NON</label>
			</div>


				<input type="submit" name="estExpire" value="VALIDER CHOIX !">

	</form>
</div>

</body>
</html>