<!DOCTYPE html>
<html>
<head>
	<title>EXPIRE</title>
	<h1 align="center">SUPPRIMER LE QUIZZ</h1>
</head>
<body>
<p align="center"><font color="red">ATTENTION ! Après avoir supprimer le quizz vous ne pourrez revenir sur la déscision !<br>Prenez votre temps avant d'agir ! </font></p>


<div align="center">
	<form action="" method="post">
		<h1>SUPPRIMER LE QUIZZ !</h1>
			<div>
  				<input type="radio" id="oui" name="suppr" value="oui"
         			checked>
  				<label for="oui">OUI</label>
			</div>

			<div>
  				<input type="radio" id="non" name="suppr" value="non">
  				<label for="non">NON</label>
			</div>


				<input type="submit" name="Supprimer" value="VALIDER CHOIX !">

	</form>
</div>


</body>
</html>